.my_button {
    text-align: center;
    width: 100%;
    height: 2.5em;
    max-height: 3em;
    background-color: var(--post-card-bg-color);
    border-top: 2px solid var(--border-color);
    border-right: none;
    border-left: none;
    border-bottom: none;
    color: var(--post-card-text-color);
    cursor: pointer;
    transition: letter-spacing .2s ease-in, transform .2s ease-in-out, color .2s ease-in, border-top-color .2s ease-in-out;
}

.my_button:hover {
    background: #c735cc;
    background: linear-gradient(90deg, rgba(199, 53, 204, 1) 0%, rgba(29, 179, 179, 1) 50%, rgba(227, 5, 197, 1) 100%);
    letter-spacing: 5px;
    color: cyan;
    border-top-color: cyan;
}