.photos_elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}