
/*MAIN MODAL STYLES*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
}

.modal_container {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: 45em;
    word-break: break-word;
    border: 2px solid #1E1E1E;
    border-radius: 15px;
    background-color: var(--body-bg-color);
    z-index: 10;
}

.modal_close {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 0;
}

/*MODAL CONTENT STYLES*/
.content_header {
    text-align: center;
    margin: 0;
}

