.posts_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts_elem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}