.todo_content {
    display: flex;
    margin: 5px 0;
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    width: 50%;
    transition: scale .3s ease;
    background: var(--post-card-bg-color);
    color: var(--post-card-text-color);
}

.todo_content:hover {
    scale: 1.05;
}

.todo_label {
    position: relative;
    word-break: break-word;
    margin: 0 10px;
    width: 100%;
}

.todo_label span {
    margin-left: 20px;
    font-weight: bold;
}

.checked {
    border: 2px solid #86efb6;
    background: #01e301;
}