.post {
    display: inline-block;
    position: relative;
    overflow: visible;
}

.post_content {
    width: 15em;
    min-height: 7em;
    max-height: 100em;
    margin: 10px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    word-break: break-all;
    background-color: var(--post-card-bg-color);
    transition: scale .3s ease-in-out;
    overflow: hidden;
}

.post_content:hover {
    cursor: pointer;
    scale: 1.05;
    background-image: linear-gradient(to right top, #e185f4, #ff71b4, #ff8a61, #ffbe00, #a8eb12);
}

.post_content__title {
    padding: 0 10px;
    margin: 20px 0 0 0 ;
    color: var(--post-card-text-color);
}

.post_content__body {
    padding: 0 10px;
    margin: 1em 0;
    display: flex;
    color: rgba(240, 255, 255, 0.5);
}