* {
    box-sizing: border-box;
}

:root {
    /*BODY THEME*/
    --body-bg-color: #eff0f1;
    --body-text-color: black;

    /*MAIN ENTITIES THEME*/
    --main-bg-color: #1E1E1E;
    --main-text-color: aliceblue;

    /*HEADER THEME*/
    --header-bg-color: white;
    --header-bg-shadow: rgba(17, 17, 17, 0.3);

    /*POST CARD THEME*/
    --post-card-bg-color: #1E1E1E;
    --post-card-text-color: aliceblue;

    /*COMMENTS THEME*/
    --comment-card-bg-color: white;
    --comment-card-text-color: aliceblue;

    /*USER CARD THEME*/
    --user-card-bg-color: #1E1E1E;
    --user-card-text-color: aliceblue;
    --user-card-span-color: rgba(240, 248, 255, 0.5);

    /*TABS THEME*/
    --tabs-before-bg-color: rgba(255, 255, 255, 0.6);
    --tabs-after-bg-color: rgba(255, 255, 255, 0.9);
    --tabs-text-color: #1E1E1E;

    /*OTHER*/
    --usual-span: rgba(30, 30, 30, 0.5);
    --border-color: #1E1E1E;
}

body[data-theme='dark'] {
    /*BODY THEME*/
    --body-bg-color: #121212;
    --body-text-color: aliceblue;

    /*MAIN ENTITIES THEME*/
    --main-bg-color: #1E1E1E;
    --main-text-color: aliceblue;

    /*HEADER THEME*/
    --header-bg-color: #1E1E1E;
    --header-bg-shadow: rgba(210, 210, 210, 0.3);

    /*POST CARD THEME*/
    --post-card-bg-color: #1E1E1E;
    --post-card-text-color: aliceblue;

    /*USER CARD THEME*/
    --user-card-bg-color: #1E1E1E;
    --user-card-text-color: aliceblue;
    --user-card-span-color: rgba(240, 248, 255, 0.5);

    /*TABS THEME*/
    --tabs-before-bg-color: rgba(0, 0, 0, 0.6);
    --tabs-after-bg-color: rgba(0, 0, 0, 0.9);
    --tabs-text-color: white;

    /*OTHER*/
    --usual-span: rgba(225, 225, 225, 0.5);
    --border-color: aliceblue;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    transition: background-color .3s ease, color .3s ease;
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}