.container {
    display: flex;
    flex-direction: column;
}

.span {
    text-align: center;
    margin: 5px 0;
    color: var(--usual-span);
}

.description {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    margin: 15px 0;
}