.user_page_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 80%;*/
    margin-top: 2em;
}

.user_page_view hr {
    border-bottom: 1px solid var(--border-color);
    width: 50%;
    margin: 20px 0;
}