.users_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.users_elem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 50%;
}